[Desktop Entry]
Name=firefox
Type=Application
Comment=Browse the World Wide Web
Terminal=false
Exec=/opt/firefox/firefox %U
Icon=/opt/firefox/icons/updater.jpeg
Categories=Network;WebBrowser;
